.db {	
  	-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
 	box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  	border-radius: 10px;
	min-height:40px;

	.db-wrapper {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.db-title {
		font-size: 20px;
	}
	.db-version {
		font-size: 16px;
		font-weight: 400px;
	}
	.db-connection {padding: 5px;
    	border-radius: 5px;
		background-color: rgba(0, 128, 0, 0.05);
      	color: green;
	}
}